target/
*.class
*.jar
.idea/
*.iml
.vscode/
.DS_Store
.env
volume/

# Terraform (infra/)
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
